

    <div>
        <div class="row">
            <div class="col-12 text-lg-center">
            </div>
        </div>
        <h2>Billboard</h2>
        <b>Peliculas Taquilleras</b>
    </div>
   

    @code {
        [Parameter] public string ImageUrl { get; set; }

    }
